aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
lxml==4.6.3
multidict==4.7.5
PySide2==5.14.2.1
requests==2.23.0
shiboken2==5.14.2.1
soupsieve==2.0
urllib3==1.25.9
yarl==1.4.2
